/*border-box tells the browser to account for any border and padding in the values you specify for width and height, must have or can throw things off*/

* {
    box-sizing: border-box;
}

body {
    background: rgba(0,0,0,0.2);
    font-family: "Arial, sans-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header {
    background: radial-gradient(
      circle at top center, rgba(70, 70, 70, 0.15), rgba(0, 0, 0, 0.9)), url('img/my-pic.png')center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    }

nav {
  display: flex;
  height: 20%;
  background: transparent;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 10px, 3px 3px 8px black, 0 0 5px black; }
  width: 100%;
  flex-flow: nowrap;
  border-bottom: 2px solid black;
  position: sticky;
  flex-flow: nowrap;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  padding-right: 5%;
}

.hero {
    display: flex;
    align-items: top;
    justify-content: center;
    height: 800px;
    color: #ffffff;
}

.thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.text-center {
    text-align: center;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-center {
    margin-left: auto;
    margin-right: auto;
}

.image-circle {
    border-radius: 50%;
}

.roll {
  animation:
      pulse 5s ease infinite alternate,
      nudge 8s linear infinite alternate;
}
.roll {
  height: 310px;
  width: 310px;
  background-color: slategray;
  animation:
    beat 3s ease infinite alternate,
    bump 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes beat {
  0%, 100% {
    background-color: slategray;
  }
  50% {
    background-color: black;
  }
}

@keyframes bump {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
}
.footer {
    height: 50px;
    background-color: rgb(64, 64, 64);
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;
}

/* GRID */

/* CONTAINER */

.container {
    margin: 0;
    padding: 0;
}
/*TODO change media query for Mobile: Google Nexus 5
Tablet: Apple iPad specifically*/
@media and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ROW */

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding-right: 10%;
    padding-left: 10%;
}

.col-xs-12 {
    grid-column: span 12
}

.col-xs-11 {
    grid-column: span 11;
}

.col-xs-10 {
    grid-column: span 10
}

.col-xs-9 {
    grid-column: span 9
}

.col-xs-8 {
    grid-column: span 8
}

.col-xs-7 {
    grid-column: span 7
}

.col-xs-6 {
    grid-column: span 6
}

.col-xs-5 {
    grid-column: span 5
}

.col-xs-4 {
    grid-column: span 4
}

.col-xs-3 {
    grid-column: span 3
}

.col-xs-2 {
    grid-column: span 2
}

.col-xs-1 {
    grid-column: span 1
}

@media (min-width: 768px) {
    .col-sm-12 {
        grid-column: span 12
    }
    .col-sm-11 {
        grid-column: span 11;
    }
    .col-sm-10 {
        grid-column: span 10
    }
    .col-sm-9 {
        grid-column: span 9
    }
    .col-sm-8 {
        grid-column: span 8
    }
    .col-sm-7 {
        grid-column: span 7
    }
    .col-sm-6 {
        grid-column: span 6
    }
    .col-sm-5 {
        grid-column: span 5
    }
    .col-sm-4 {
        grid-column: span 4
    }
    .col-sm-3 {
        grid-column: span 3
    }
    .col-sm-2 {
        grid-column: span 2
    }
    .col-sm-1 {
        grid-column: span 1
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        grid-column: span 12
    }
    .col-md-11 {
        grid-column: span 11;
    }
    .col-md-10 {
        grid-column: span 10
    }
    .col-md-9 {
        grid-column: span 9
    }
    .col-md-8 {
        grid-column: span 8
    }
    .col-md-7 {
        grid-column: span 7
    }
    .col-md-6 {
        grid-column: span 6
    }
    .col-md-5 {
        grid-column: span 5
    }
    .col-md-4 {
        grid-column: span 4
    }
    .col-md-3 {
        grid-column: span 3
    }
    .col-md-2 {
        grid-column: span 2
    }
    .col-md-1 {
        grid-column: span 1
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        grid-column: span 12
    }
    .col-lg-11 {
        grid-column: span 11;
    }
    .col-lg-10 {
        grid-column: span 10
    }
    .col-lg-9 {
        grid-column: span 9
    }
    .col-lg-8 {
        grid-column: span 8
    }
    .col-lg-7 {
        grid-column: span 7
    }
    .col-lg-6 {
        grid-column: span 6
    }
    .col-lg-5 {
        grid-column: span 5
    }
    .col-lg-4 {
        grid-column: span 4
    }
    .col-lg-3 {
        grid-column: span 3
    }
    .col-lg-2 {
        grid-column: span 2
    }
    .col-lg-1 {
        grid-column: span 1
    }
}
